.cartPage .main {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  background-color: #f7f5f5;
  margin: auto;
  width: 80%;
}

.cartPage .left {
  display: flex;
  flex-direction: column;
}

.cartPage .delivery-info {
  margin: 20px 0;
}

.cartPage .right {
  display: flex;
  flex-direction: column;
}

.cartPage h1 {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  color: black;
}

.cartPage .total-price {
  margin: 20px 0;
}

.cartPage .contact {
  margin: 20px 0;
}

.cartPage .review-btn {
  text-align: center;
  margin: 20px 0;
}

.cartPage .shopping-btn {
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .cartPage .main {
    width: 100%;
  }
  .cartPage .right{
    margin-left: 1em;
  }
}

@media screen and (max-width: 870px){
  .cartPage .main{
    flex-direction: column;
  }
  .cartPage .right {
    align-items: center;
  }
}