header {
  width: 100vw;
  z-index: 5;
}

header .login-btn,
.acc-btn {
  padding: 1em;
}

header .user-icon {
  float: left;
  cursor: pointer;
}

header .icons {
  float: right;
  margin-right: 1em;
  cursor: pointer;
}

header .logo_container {
  background-color: white;
  display: block;
  padding: 0.3em 0 2.5em 0;
}

header img {
  height: 2em;
  width: 2em;
}

header .navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center;
}

/* lis inside the navbar */
header .navbar li {
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 0.8em 0.8em;
  cursor: pointer;
}

/* The dropdown container */
header .dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
header .navbar .dropbtn {
  font-size: 1.2em;
  border: none;
  color: white;
  padding: 0.8em 0.8em;
  background-color: inherit;
  cursor: pointer;
}

.name-span {
  font-size: 1.2em;
  padding: 0.8em 0.8em;
  text-transform: uppercase;
}

header .acc-btn {
  display: flex;
  flex-direction: column;
  border: none;
  color: white;
  font-size: 1.2em;
  background-color: inherit;
  padding-bottom: 1em;
}

header .login-btn {
  font-size: 1.2em;
  border: none;
  color: white;
  background-color: inherit;
  cursor: pointer;
  width: 9em;
}

header .navbar button:hover,
header .dropdown:hover .dropbtn:hover,
header .acc-btn:hover {
  background-color: #8e0ef2;
}

header .login-btn:hover {
  background-color: #8e0ef2;
  width: 9em;
}

/* Dropdown content (hidden by default) */
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
}

header .text-link,
header .navbar li {
  text-decoration: none;
  color: white;
  cursor: pointer;
  list-style: none;
}

/* Add a grey background color to dropdown lis on hover */
header .dropdown-content li:hover {
  background-color: #8e0ef2;
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
  display: block;
}

header .dropdown:hover .dropdown-content ul {
  display: flex;
  margin: 0;
  padding: 0;
}

header .badgeNumber {
  position: relative;
}

header .badge {
  position: absolute;
  right: 5.5em;
  top: 1.3em;
  background-color: #8E0EF2;
  border: none;
  border-radius: 100%;
  color: #fff;
  width: 1.5rem;
}

@media screen and (max-width: 728px) {
  header .navbar {
    display: block;
  }

  .logo_container {
    margin-right: 40px;
  }

  header .dropdown {
    overflow: visible;
    padding: 13px 10px 13px 10px;
  }

  header .dropdown:hover .dropdown-content ul {
    display: block;
  }
}

.navbar > .nav-btn {
  display: none;
}

.navbar > .nav-links {
  overflow: hidden;
  display: inline;
  float: right;
  font-size: 18px;
}

.navbar > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: #efefef;
}

.navbar > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar > #nav-check {
  display: none;
}

@media (max-width: 728px) {
  .navbar > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    background-color: rgba(133, 78, 157, 0.79);
  }

  .navbar > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(131, 32, 174, 0.79);
  }

  .navbar > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid rgb(255, 255, 255);
  }

  .navbar > .nav-links {
    position: absolute;
    display: inline-grid;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 53px;
    left: 0;
  }

  .navbar > .nav-links > a {
    display: block;
    width: 100%;
    padding: 13px 10px 13px 10px;
  }

  .navbar > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }

  .navbar > #nav-check:checked ~ .nav-links {
    height: calc(60vh - 50px);
    overflow-y: auto;
  }
}
