header {
  justify-content: space-between;
  background-color: black;
  height: fit-content;
  overflow: hidden;
}

header #login {
  padding: 1em;
}

header .user-icon {
  float: left;
  cursor: pointer;
}

header .icons {
  float: right;
  margin-right: 1em;
  justify-content: space-around;
  cursor: pointer;
}

header .logo_container {
  background-color: white;
  display: block;
  padding-bottom: 3em;
}

header img {
  height: 2em;
  width: 2em;
}

header .navbar {
  overflow: hidden;
  background-color: #333;
}

/* lis inside the navbar */
header .navbar li {
  float: left;
  font-size: 1.2em;
  color: white;
  text-align: center;
  padding: 0.8em 0.8em;
  cursor: pointer;
}

/* The dropdown container */
header .dropdown {
  margin-left: 20%;
  float: left;
  overflow: hidden;
}

/* Dropdown button */
header .dropbtn {
  font-size: 1.2em;
  border: none;
  color: white;
  padding: 0.8em 0.8em;
  background-color: inherit;
  cursor: pointer;
}

header .navbar button:hover,
header .dropdown:hover .dropbtn,
header #login:hover {
  background-color: purple;
}

/* Dropdown content (hidden by default) */
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
}

header .text-link,
header .navbar li {
  text-decoration: none;
  color: white;
  cursor: pointer;
  list-style: none;
}

/* Add a grey background color to dropdown lis on hover */
header .dropdown-content li:hover {
  background-color: purple;
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
  display: block;
}
