.favorite-container {
  display: flex;
}

#product-details {
  margin: 10px;
  width: 45rem;
  padding: 5px;
}

.product-image img {
  width: 300px;
}

h1 {
  color: unset;
}

.favorites-error {
  height: 10rem;
  text-align: center;
  margin: auto;
}
