.purchases .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f0eeeef3;
  border: 1px solid #c1c1c1;
  width: 95em;
  margin-left: 8em;
  padding: 1.5em 0 2em 1em;
}

.purchases li {
  font-size: 1.3em;
  list-style: none;
  text-align: left;
  padding: 0 3em 1em 0;
}

.purchases .title {
  font: 2em bolder;
  text-align: left;
  flex-basis: 100%;
  padding-left: 1.2em;
}
