.purchases form {
  display: block;
  background-color: #f0eeeef3;
  border: 1px solid #c1c1c1;
  max-width: 400em;
  padding-bottom: 3em;
  padding-top: 2em;
}

.purchases label {
  display: block;
  text-align: left;
  padding: 1em 0 0.5em 2em;
  line-height: 20px;
}

.purchases .title {
  font: 1.4em bolder;
  padding-bottom: 1em;
}

.purchases .orderid {
  margin-left: 1.5em;
}

.purchases .date {
  margin-left: 1.5em;
}
