.slider {
  position: relative;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
}

.slider .image {
  width: 350px;
  height: 300px;
}

.slider .left-arrow,
.slider .right-arrow {
  position: absolute;

  /* z-index: 4; */
  top: 50%;
  transform: translateY(-50%);
  color: blueviolet;
  font-size: 3.8rem;
  font-weight: bolder;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
}

.slider .left-arrow {
  left: 1px;
}

.slider .right-arrow {
  right: 1px;
}

.slider .slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slider .slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
