.sorting-div .sort-options {
  width: 130px;
  z-index: 1800;
  background: #fff;
  height: 33px;
  overflow: hidden;
  outline: none;
}

.sorting-div .input-button {
  cursor: pointer;
  border: 0;
  line-height: 2;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(39, 23, 23);
  border-radius: 5px;
  background-color: transparent;
  width: 130px;
}

.sorting-div .input-button:hover {
  background: #ff9500 -webkit-linear-gradient(bottom, #ff9500 0%, #ff9500 100%);
  color: #fff;
}

.sorting-div .sort-list {
  list-style-type: none;
}

.sorting-div .input-div {
  width: 130px;
  border-bottom: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
}
