select {
  width: 130px;
}

.input-button {
  cursor: pointer;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: rgb(39, 23, 23);
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: transparent;
  width: 130px;
}

.input-button:hover {
  background-color: royalblue;
  color: white;
}

.input-button:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
