.hero-image {
  height: 50%;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
}

.hero-image img{
  width: 100%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.title-text {
  font-size: 50px;
}
