.orderpage .order-page-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  background-color: #f7f5f5;
  margin: auto;
  width: 90%;
}

.orderpage .top {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 70%;
  margin-left: 30px;
  margin-right: 30px;
}

.orderpage .left {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 70%;
  margin-right: 20px;
}

.orderpage .right {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5px 0;
  width: 30%;
  margin-left: 20px;
}

.orderpage .orderId,
.orderpage .orderStatus {
  padding: 20px;
  width: 50%;
}

.orderpage .orderId {
  margin-left: 15px;
}

.orderpage li {
  list-style-type: none;
}

.orderpage .payment-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.orderpage .header {
  margin: auto;
  width: 90%;
}

.orderpage h1 {
  color: black;
  padding: 10px;
}

.orderpage .header h1 {
  margin-left: 0;
}

.orderpage .botton {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.orderpage .delivery {
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  margin-right: 20px;
}

.orderpage .contact {
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  margin-left: 20px;
}

.orderpage .formDelivery {
  background-color: #fff;
}

.orderpage .formContact {
  background-color: #fff;
}

.orderpage .orderInfo {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  height: 20%;
  margin-bottom: 20px;
}

.orderpage .product {
  background-color: #fff;
  padding: 10px;
}

.orderpage .total {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.orderpage .order-page-container .wrapperDelivery .form label {
  width: 100%;
}

.wrapperContact .formContact {
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  grid-gap: 16px;
}

.wrapperDelivery .formDelivery {
  grid-gap: 2px;
}

.wrapperDelivery {
  border: 1px solid #fff;
}

.wrapper-content {
  background-color: white;
}
