.order-page-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  background-color: #f7f5f5;
  margin: auto;
  width: 90%;
}

.top {
  display: flex;
  flex-direction: row;
  padding: 20px;
  height: 70%;
  margin-left: 30px;
  margin-right: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 70%;
  margin-right: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5px 0;
  width: 40%;
  margin-left: 20px;
}

.orderId,
.orderStatus {
  padding: 20px;
  width: 50%;
}

.orderId {
  margin-left: 15px;
}

li {
  list-style-type: none;
}

.payment-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

h1 {
  text-align: left;
  margin: 20px auto;
  width: 80%;
  color: black;
}

.botton {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.delivery {
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  margin-right: 20px;
}

.contact {
  width: 100%;
  background-color: #fff;
  margin: 5px 0;
  margin-left: 20px;
}

.orderInfo {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  height: 20%;
  margin-bottom: 20px;
}

.product {
  background-color: #fff;
  padding: 10px;
}

.total {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.order-page-container .wrapperDelivery .form label {
  width: 100%;
}
