.displayImgs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-content: center;
  align-content: flex-start;
}

.paginationButtons {
  margin-top: 25px;
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid darkblue;
  color: darkblue;
  cursor: pointer;
  font-weight: 600;
}

.paginationButtons a:hover {
  color: white;
  background-color: darkblue;
}

.paginationActive a {
  color: white;
  background-color: darkblue;
}

h3 {
  text-align: center;
  color: crimson;
  font-weight: 600;
  font-size: 25px;
}
