.pageNumbers {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pageNumbers li {
  padding: 12px;
  border: 1px dotted gray;
  cursor: pointer;
  height: auto;
  font-weight: bold;
}

.pageNumbers li.active {
  background-color: blue;
  color: white;
}

.pageNumbers li button {
  background-color: transparent;
  border: none;
  font-size: 1 rem;
  cursor: pointer;
}

.pageNumbers li button:hover {
  background-color: blue;
  color: white;
}

.pageNumbers li button[disabled]:hover {
  background-color: transparent;
  cursor: none;
}
