.wrapper {
  width: 18rem;
  height: 10rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.wrapper:hover {
  border: 1px solid black;
}

.wrapper-content {
  padding: 0 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

h3 {
  font-size: 1.2rem;
  padding-left: 1rem;
}
