.wrapper {
  width: 14rem;
  height: 9rem;
  border: 1px solid lightgray;
}

.wrapper-content {
  padding: 0 0.7rem;
  font-size: 0.8rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
}

.text-right {
  text-align: right;
}

.wrapper h3 {
  font-size: 1.2rem;
  padding-left: 0.7rem;
}
