form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 400px;
  padding: 1em;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 1fr 8fr;
    grid-gap: 6px;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }

  .title {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 1;
    font-weight: bold;
  }

  .fullName {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 2;
    padding-left: 10px;
  }
  .email {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 3;
    padding-left: 10px;
  }
  .formPaddingBottom {
    grid-column: 1 / span 2;
    padding-bottom: 40px;
  }
}
