.formContact {
  display: grid;
  padding: 1em;
  margin: 0.5em auto 0 auto;
  max-width: 400em;
  padding-bottom: 1.4em;
}

.wrapperContact {
  width: 36em;
  height: 15em;
}


@media (min-width: 400px) {
  .formContact {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-family: Inter;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    grid-gap: 6px;
  }
  .titleContact {
    margin-left: 1em;
    font-weight: bolder;
    grid-column: 1 / span 4;
    grid-row: 1;
    text-align: left;
  }

  .fullName {
    margin-left: 1.5em;
    grid-column: 1 / span 4;
    grid-row: 2;
    text-align: left;
  }
  .email {
    margin-left: 1.5em;
    grid-column: 1 / span 4;
    grid-row: 3;
    text-align: left;
  }
}