.profilepage .delivery-contact {
  display: flex;
}

.profilepage .wrapperContact .titleContact {
  font-weight: bolder;
  font-size: 1.4em;
}

.profilepage .wrapperContact .formContact {
  width: 30em;
  height: 15em;
  font-size: 1.3em;
  margin-left: 6em;
  background-color: #f0eeeef3;
  border: 1px solid #c1c1c1;
}

.profilepage .delivery .wrapperDelivery .titleDelivery {
  font-weight: bolder;
  font-size: 1.8em;
  margin-left: 1em;
}

.profilepage .delivery .wrapperDelivery {
  height: 20em;
  width: 51em;
}

.profilepage .wrapperDelivery .formDelivery {
  width: 45em;
  height: 20em;
}

.profilepage .delivery {
  margin: 1.6em 2em 0 5em;
}

.profilepage .purchases .container {
  margin-top: 3em;
  column-gap: 5em;
}

@media screen and (max-width: 90em) {
  .profilepage .wrapperContact .formContact {
    height: 15em;
    width: 25em;
  }

  .profilepage .wrapperDelivery .formDelivery {
    font-size: 1em;
    width: 40em;
    height: 20em;
  }

  .profilepage .delivery .wrapperDelivery {
    height: 20em;
    width: 40em;
  }

  .profilepage .delivery {
    max-width: fit-content;
    margin-left: 8em;
  }

  .profilepage .purchases .container {
    display: flexbox;
    max-width: fit-content;
    column-gap: 1em;
  }
}

@media screen and (max-width: 85em) {
  .profilepage .wrapperContact .formContact {
    height: 15em;
    width: 25em;
  }

  .profilepage .wrapperDelivery .formDelivery {
    font-size: 1em;
    width: 40em;
    height: 20em;
  }

  .profilepage .delivery .wrapperDelivery {
    height: 20em;
    width: 40em;
  }

  .profilepage .delivery {
    max-width: fit-content;
    margin-left: 8em;
  }

  .profilepage .purchases .container {
    display: flexbox;
    max-width: fit-content;
    column-gap: 1em;
  }
}

@media screen and (max-width: 70em) {
  .profilepage .delivery-contact {
    display: block;
  }

  .profilepage .delivery {
    margin-left: 8em;
    max-width: fit-content;
  }

  .profilepage .purchases .container {
    display: flexbox;
    max-width: fit-content;
    column-gap: 1em;
  }
}
