#product-details {
  width: 65rem;
  display: flex;
  padding: 3rem;
  background-color: #f6f5f5;
}

#product-details .product-name {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

#product-details .price {
  font-size: 2rem;
}

#product-details small {
  color: #6d706c;
}

#product-details .product-name button {
  background: none;
  border: none;
  cursor: pointer;
}

#product-details .heart {
  padding-top: 20%;
}

#product-details .details-column {
  width: 100%;
  padding: 2% 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#product-details .input-row {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
}

#product-details .select-item {
  display: flex;
  margin-right: 2rem;
  position: relative;
  margin-bottom: 1rem;
}

#product-details .inputs {
  display: inline-flex;
  margin-bottom: 3.5rem;
}

#product-details .quantity {
  margin: 0.5rem 0 1.2rem 0.5rem;
}

#product-details .input-row button {
  width: 10rem;
}

#product-details .input-row select {
  margin-right: 10%;
  font-size: 1rem;
  width: 7rem;
  height: 2.5rem;
  border: 1px solid #8e0ef2;
  padding: 0.3rem;
  cursor: pointer;
  font-weight: bold;
  appearance: none;
  background: transparent;
  z-index: 2;
}

#product-details .arrow-right {
  position: absolute;
  left: 5rem;
  top: 0.7rem;
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 2px solid #8e0ef2;
  border-left: 2px solid #8e0ef2;
  z-index: 1;
  transform: rotate(225deg);
}

@media screen and (max-width: 754px) {
  #product-details .product-image img {
    width: 100%;
  }

  #product-details {
    width: unset;
    display: block;
    text-align: center;
    height: auto;
  }

  #product-details .details-column {
    margin-bottom: 4rem;
  }

  #product-details .product-name {
    justify-content: center;
  }

  #product-details .price {
    margin: 1rem 0;
  }

  #product-details .inputs {
    flex-direction: column;
    margin-bottom: 0;
  }

  #product-details .input-row {
    flex-direction: row;
    justify-content: center;
  }

  #product-details .input-row button {
    width: 8rem;
  }

  #product-details .input-row .quantity {
    margin: 3rem 3rem 0 1.2rem;
    height: 0.7rem;
  }

  #product-details .select-item {
    margin: 0;
  }

  #product-details select {
    margin: 0.6rem 2.5rem;
  }

  #product-details .arrow-right {
    left: 7.2rem;
    top: 1.4rem;
  }

  #product-details .button-component {
    margin-top: 1.5rem;
  }

  #product-details .text {
    font-size: 1.5rem;
  }

  #product-details small {
    font-size: 0.7rem;
  }
}
