.contactPageContainer {
  padding: 15px;
  font-size: larger;
  text-align: center;
}

.contactPageContainer img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.contactPageContainer .item {
  width: 25%;
  height: 50%;
}

.flexContainerContact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
}
