h1 {
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 5em;
  margin-left: 180px;
  margin-top: 60px;
  text-transform: uppercase;
}

.sorting-div {
  display: none;
}

h3 {
  visibility: hidden;
}
